#welcome {
    position: fixed;
    left: 10%;
    top: 5%;
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    background-color: #CE7663;
    text-align: center;
}

#container {
    position: absolute;
    left: 10%;
    top: 21%;
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    background-color: #CE7663;
    text-align: center;
}

#container2 {
    position: absolute;
    left: 60%;
    top: 27.7%;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    padding: 0px;
}

#container3 {
    position: absolute;
    left: 10%;
    top: 46%;
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    background-color: #CE7663;
    text-align: center;
}

#letters a{
    color: black;
    background-color: white;
    border-radius: 0px;
    padding: 5px;
    cursor: pointer
}

#letters a:hover{
    color: yellow;
}

#letters a.correct{
    color: green;
    font-weight: bold;
}

#letters a.wrong{
    color: red;
    text-decoration: line-through;
}
